h1 {
  color: blue
}

body {
  background: url(./../../resources/images/download.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  background-color: lightgrey;
  margin: 50px;
  padding: 10px;
}
